{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <div id="action-buttons">
    <a class="button outline big" href="https://github.com/r-dbi" onclick="_gaq.push(['_trackEvent', 'kube', 'github']);">View on Github</a>
  </div>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <h3>Interface</h3>
        <p>The <a href="https://dbi.r-dbi.org">DBI</a> package defines generic methods that work almost identically across databases. This is checked by <a href="https://dbitest.r-dbi.org">DBItest</a>, which also provides a human-readable <a href="https://cran.r-project.org/web/packages/DBI/vignettes/spec.html">specification</a>.</p>
      </div>
      <div class="col col-4 item">
        <h3>Backends</h3>
        <p>The <a href="https://rsqlite.r-dbi.org">RSQLite</a>, <a href="https://rmariadb.r-dbi.org">MariaDB</a>, and <a href="https://rpostgres.r-dbi.org">RPostgres</a> packages implement methods defined by DBI that connect to specific databases. There are more packages that connect to other databases.</p>
      </div>
      <div class="col col-4 item">
        <h3>Boilerplate</h3>
        <p>The <a href="https://rkazam.r-dbi.org">RKazam</a> package makes it easy for package developers to create a new package to a new DBMS.</p>
      </div>
    </div>
  </div>
  <div id="hero">
    <h2><a href="/blog">View all blog posts</a></h2>
  </ul>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
